*{
  margin:0;
  padding:0;
  line-height:100%;
//font-family:"\82f9\65b9\000d\000a";
  background-size: 100%;
  letter-spacing: 0.02px;
}
a{
  text-decoration:none;
}
em, i{
  font-style:normal;
}
strong, b{
  font-weight:normal;
}
ul, ol, dl{
  list-style:none;
  padding: 0;
  margin: 0;
}
img{
  display:block;
  background-size: 100%;
}
textarea, select, input{
  outline:none;
}
textarea{
  resize:none;
}
th,tr,.el-table th{
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  font-weight:normal;
  margin: 0;
  padding: 0;
}
.clearfix:after{
  display:block;
  content:"";
  clear:both;
}
.clearfix{
  zoom:1;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
button{
  border: none;
}
button:focus{
  outline: none;
}
