@import "common";
.inner{
  margin: 20px;
}
.login-bg{
  width: 100%;
  height: 100%;
  background: url(~@/assets/bg.png);
  @include pos(reletive,0,0);
  .login-pos{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -400px;
    display: flex;
    justify-content: flex-start;
    img{
      @include wh(400,500);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .login-msg{
      @include wh(400,500);
      background: #fff;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      .el-form{
        margin: 100px 50px;
        .el-button{
          @include wh(150,50);
          display: block;
          margin: 0 auto;
          @extend .br-bg;
        }
        .forget{
          background: none;
          border: none;
          color: #000;
          text-decoration: underline;
        }
      }
    }
  }
}

.el-table td{
  @extend .center;
}
.echarts{
  width: 100%;
}
.el-textarea__inner{
  resize: none;
}
.data-form{
  .el-input,.el-select,.el-textarea{
    width: 600px;
    display: block;
  }
}
/*upload tip*/
.tips{
  text-align: left;
  display: block;
  margin-top: 20px;
}
/*bank*/
.open-address{
  .el-form-item__content{
    display: flex;
  }
  .el-select,.el-input{
    width: 200px;
  }
}
/*get code*/
.bind-phone{
  .el-form-item__content{
    display: flex;
  }
  .el-input{
    width: 488px;
  }
}
/*alert*/
.el-message-box{
  width: 500px;
  padding: 0 0 60px;
  @include br(20);
  .el-message-box__headerbtn{

  }
  .el-message-box__content{
    padding: 0;
    @extend .center;
    @include m-top(82);
    @include m-bottom(77);
    @include size(24);
  }
  .el-message-box__btns{
    padding: 0;
    @extend .center;
    .el-button{
      @include wh(200,50);
      @extend .br-bd;
      @include size(16);
    }
    button:nth-child(2){
      @extend .br-bg;
      @include m-left(40);
    }
  }
}
/*staff component*/
.el-checkbox__label{
  line-height: 40px;
}
/*goods*/
.flex-style{
  .el-form-item__content{
    display: flex;
    justify-content: start;
  }
}
/*add-spec*/
.add-spec{
  td{
    padding: 0;
  }
  .cell{
    padding-left: 0!important;
    padding-right: 0;
  }
  .el-input{
    width: 100%;
  }
  .el-input__inner{
    border: none;
  }
}

.time-table{
  display:block;
  margin:10px 0;
  clear: both;
  border:1px solid #d8d8d8;
  tr{
    display:flex;
    border-bottom:1px solid #d8d8d8;
    th,td{
      flex:1;
      padding: 10px 0;
    }
  }
  tr:last-child{
    border-bottom:none;
  }
  th{
    border:none;
  }
  td{
    border:none;
    border-left:1px solid #d8d8d8;
    text-align:center;
    .el-input{
      width:90%!important;
    }
  }
  td.canchoose{
    cursor:pointer;
  }
  td.selecteds{background-color:#409EFF;color:#fff}
}